{% extends 'gerencia/base_dashboard.html' %}
{% block conteudo %}

          <h3>Resumo de Pedidos</h3>
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>Pedidos</th>
                  <th>Cancelados</th>
                  <th>Atrasados</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ total_pedidos }}</td>
                  <td>{{ total_pedidos_cancelados }}</td>
                  <td>{{ total_pedidos_atrasados }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <h3>Itens com Maior média de atraso</h3>
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Item</th>
                  <th>Atrasos</th>
                  <th>Tempo Cadastrado</th>
                  <th>Tempo Médio</th>
                </tr>
              </thead>
              <tbody>
              {% for pedido_atrasado in pedidos_atrasados %}
                {% for pedido in pedidos %}
                  {% if pedido.id == pedido_atrasado.pedido_id %}
                    {% for item in itens %}
                      {% if item.id == pedido.item_id %}
                    <tr>
                      <td>{{ item.id }}</td>
                      <td>{{ item.nome }}</td>
                      <td>{{ pedido.item_id.nome }}</td>
                      <td>{{ total_pedidos_atrasados }}</td>
                      <td>{{ total_pedidos_atrasados }}</td>
                    </tr>

                  {% endif %}
                {% endfor %}
              {% endif %}
                {% endfor %}
              {% endfor %}
              </tbody>
            </table>
          </div>
{% endblock %}