{% extends 'core/base.html' %}
{% block conteudo %}
<header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'core:buffet' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Cardápio</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <!-- Begin page content -->

<br>

    <main role="main" class="container-fluid">
        <br>
      <h1 class="mt-5">Típico General Küster</h1>
      <p class="lead">Itens Disponíveis</p>
      <div class="row">
            {% for item in itens %}
        <div class="col-md-2">
          <div class="card mb-4 box-shadow">
            {% if item.id in lista_pedidos%}
                {% for pedido in pedidos %}
                    {% if pedido.item_id == item.id %}
                        <div class="card-body">
                            <center>
                                <form action="{% url 'core:baixar_pedido' pedido.id %}" method="POST">
                                    {% csrf_token %}
                                    {% if pedido.situacao == 'Atrasado' %}
                                        <button type="submit" class="btn btn-block btn-danger">
                                        {% if item.nome|length > 5 %}
                                            <font style="font-size:12px">{{ pedido.quantidade }}x {{ item.nome }}</font>
                                        {% else %}
                                            {{ pedido.quantidade }}x {{ item.nome }}
                                        </button>
                                        {% endif %}
                                    {% elif pedido.situacao == 'Em Preparo' %}
                                        <button type="submit" class="btn btn-block btn-info">
                                            {% if item.nome|length > 5 %}
                                            <font style="font-size:12px">{{ pedido.quantidade }}x {{ item.nome }}</font>
                                        {% else %}
                                            {{ pedido.quantidade }}x {{ item.nome }}
                                        </button>
                                        {% endif %}
                                        </button>
                                    {% elif pedido.situacao == 'Entregue' %}
                                        <button type="submit" class="btn btn-block btn-success">
                                            {% if item.nome|length > 5 %}
                                            <font style="font-size:12px">{{ pedido.quantidade }}x {{ item.nome }}</font>
                                        {% else %}
                                            {{ pedido.quantidade }}x {{ item.nome }}
                                        </button>
                                        {% endif %}
                                        </button>
                                    {% endif %}
                                </form>
                            </center>
                        </div>
                        <div class="card-footer">
                                Previsão: {{ pedido.limite_entrega }}
                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                <button type="submit" class="btn btn-danger" onclick="cancelar_pedido({{ pedido.id }})">Cancelar</button>
                        </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                <div class="card-body">
                    <center>
                        <button type="submit" class="btn btn-block btn-secondary" onclick="quantidade_item({{ item.id }})">
                        {% if item.nome|length > 5 %}
                            <font style="font-size:12px">{{ item.nome }}</font>
                            {% else %}
                            {{ item.nome }}
                            {% endif %}
                        </button>
                    </center>
                </div>
                <div class="card-footer">
                    <center>
                       Preparo: {{ item.tempo_preparo }} Min
                    </center>
                </div>
           {% endif %}
          </div>
        </div>
            {% endfor %}
      </div>

    </main>
    <script>
        function quantidade_item(pk_item) {
            var quantidade=prompt("Quantidade:", 1);
            if (quantidade!=null) {
                url = "{% url 'core:criar_pedido' %}";
                window.location = url + "?pk=" + pk_item + "&quantidade=" + quantidade;
            }
        }
        </script>
    <script>
        function cancelar_pedido(pk_pedido) {
            var resp=confirm("O pedido será cancelado!\n Deseja continuar?");
            if (resp == true) {
               var url = "{% url 'core:cancelar_pedido' %}";
               window.location = url + "?pk=" + pk_pedido;
            }
        }
    </script>

{% endblock %}